<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SmartConsumer</servlet-name>
		<servlet-class>com.gae.java.smartconsumer.SmartConsumerServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>CreateNewDeal</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.CreateDealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDeal</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.RemoveDealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeal</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.GetDealServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>SmartConsumer</servlet-name>
		<url-pattern>/smartconsumer</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewDeal</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDeal</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeal</servlet-name>
        <url-pattern>/getdeal</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
