<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SmartConsumer</servlet-name>
		<servlet-class>com.gae.java.smartconsumer.SmartConsumerServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>DealManager</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.DealManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealCollector</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.DealCollectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDeal</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.RemoveDealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAllDeal</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.RemoveAllDealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCollector</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.AutoCollectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoUpdate</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.AutoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.gae.java.smartconsumer.servlet.TestServlet</servlet-class>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>SmartConsumer</servlet-name>
		<url-pattern>/smartconsumer</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealManager</servlet-name>
        <url-pattern>/dealmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealCollector</servlet-name>
        <url-pattern>/getdeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAllDeal</servlet-name>
        <url-pattern>/removeall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmartConsumer</servlet-name>
        <url-pattern>/smartconsumer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCollector</servlet-name>
        <url-pattern>/autocollector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoUpdate</servlet-name>
        <url-pattern>/autoupdate</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>smartconsumer</welcome-file>
    </welcome-file-list>
</web-app>
