#lheader{
  float:left;
  width:80%;
  background-color: #A2D071;
  background-image:url("/images/header.jpg");
  height:150px;
  margin-left: 10%;
  text-align: left;
  line-height: 150px;
  font-size:70px;
  font-weight: 900;
  color: #A2D071;
}
#lheader a{
  text-decoration: none;
  color:white;
}
#lbody{
  float:left;
  width:80%;
  background-color: white;
  margin-left:10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#lfooter{
  float:left;
  width:80%;
  height:230px;
  margin-left: 10%;
  text-align: center;
  border-radius:4px;
  background-image: url("/images/footer.jpg");
  color: black;
}
.insertdeal{
  background-color: red;
}
.viewdeal{
  background-color: pink;
}
.titlelinkmap{
  text-decoration: none;
  color:red;
}
.titlelinkmap:hover{
  text-decoration: underline;
}
#menu {
    float: left;
    width: 80%;
    height: 37px;
    background:#00396E;
    margin-left: 10%;
}
#menu ul{
    list-style-type:none;
    display:inline; 
}
#menu ul li{
    float:left;
    width:160px;    
}
#menu ul li a{
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size:12px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    height: 37px;
    line-height: 37px;
    text-align: center;
    text-decoration:none;
}
.menu_top{
    padding-left:160px; 
    float:left; 
}
#menu ul li a:hover{
    background:url(/images/menuhover.png) no-repeat; 
}