@CHARSET "UTF-8";
body {
    margin: 5px; 
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 0;
    background-color: #DDDDDD;
    height: 1px;
    margin: 5px;
}



table th {
    background:#EFEFEF none repeat scroll 0 0;
    border-top:1px solid #CCCCCC;
    font-size:small;
    padding-left:5px;
    padding-right:4px;
    padding-top:4px;
    vertical-align:top;
    text-align:left;
}

table tr {  
    background-color: #e5ecf9;
    font-size:small;
}


.topLine {
    height: 1.25em;
    background-color: #e5ecf9;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 2px;
}

.headline {
    font-weight: bold;
    color: #3366cc;
}



.done {
    font-size: x-small;
    vertical-align: top;
}


.email {
    font-size: x-small;
    vertical-align: top;
}

form td {
    font-size: smaller;
}
.errorview {
  background-color: BAD3ED;
  width: 100%;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
  color: red; 
  text-align: center;
  font-weight: bold;
  
}

.errorMes {
  font-weight: bold;
  color: red;
}

.errorInput {
  border-color:red;
}

.paginator { margin: 0 auto; text-align: center; }
.paginator span { margin: 0px 10px 0px 0px; }
.paginator a { text-decoration: underline; text-align: center; margin: 0px 5px 0px 0px; line-height: 20px; color: #0192ac; }
.paginator span.t_a_ui_active { background-color: #d3d3d3; padding: 6px 8px; line-height: 9px; height: 9px; width: 7px; }